<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>database</title>
  </head>
  <body>
    <h1>10回表サンプル</h1>
    <form class="form" action="" method="post">
      <p>問題名が入る場所</p><input type="text" name="" value="">
    </form>
  </body>
</html>
